* {
  box-sizing: border-box;
}

:root {
  --bgColor: #1d1d1d;
  --bgContainer: #373737;
  --textPrimaryColor: #d4d4d4;
  --secondaryColor: #ffff;
  --cardOnHover: #a9a9a9;
}

body {
  background: var(--bgColor);

  font-family: "Libre Franklin", sans-serif;
  margin: 0;

  /* min-height: 100vh; */
}

/*  Typography*/

.title {
  margin: 0 auto;
  font-family: "Libre Franklin", sans-serif;
  font-size: 3.6rem;
  text-align: center;
  color: var(--textPrimaryColor);
}

.songTitle {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.3;
  word-spacing: 0.4rem;
}
.cardTitle {
  color: var(--textPrimaryColor);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  word-spacing: 0.6rem;
}

.cardArtist {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.1;
  word-spacing: 0.5rem;
  color: var(--secondaryColor);
}

.songTitle {
  color: var(--textPrimaryColor);
}

.searchText {
  color: var(--textPrimaryColor);
  font-size: 1.5rem;
  font-weight: 300;
  word-spacing: 0.4rem;
  line-height: 1.1;
  text-align: center;
}

.usedPlaylistName {
  color: var(--textPrimaryColor);
  font-size: 1.2rem;
  font-weight: 500;
  word-spacing: 0.3rem;
  line-height: 1;
  font-style: medium;
}

/* Typography */

/*  Layout */

/*  Home Page*/

.homeContainer {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* margin-top: 0; */
}

.contentContaier {
  max-width: 1200px;
  /* width: 800px; */
  min-width: 250px;
}
.home {
  background: var(--bgContainer);
  width: 95%;
  border-radius: 4px;
  margin: 5rem 5rem 0.7rem 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlistUsedList {
  background: var(--bgContainer);
  display: flex;
  flex-direction: row;
  margin: 1rem 0.5rem;
  justify-content: space-between;
  width: 100%;
  border-radius: 4px;
}
.playlistUsedContainer {
  width: 95%;
}

.playlistInHomePage {
  margin: 5rem 0;
  /* border: 6px solid red; */
  /* width: 100%; */
  /* background: var(--bgContainer); */
}

.playlistUsedButton {
  border: 0;
  color: var(--textPrimaryColor);
  background: var(--bgContainer);
  margin: 0.3rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.playlistUsedButton:hover {
  transform: scale(1.2);
}

.usedContentTextandImage {
  display: flex;
  flex-direction: inherit;
  justify-content: flex-start;
}

.imgUsedPlaylist {
  max-width: 75px;
  max-height: 70px;
}

.usedPlaylistName {
  padding-left: 1rem;
  cursor: pointer;
  width: 75%;
}

/*  Home Page*/

@media (max-width: 650px) {
  .contentContaier {
    display: flex;
    flex-direction: column;
  }
  .home {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .title {
    padding-top: 0.9rem;
    font-size: 2.5rem;
  }
  .searchText {
    font-size: 1.2rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputSearch {
    width: 100%;
    text-align: center;
  }
  .submitBtn {
    margin: 0.5rem;
  }
  .playlistInHomePage {
    margin: 0;
  }
  .playlistUsedContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .playlistUsedList {
    width: 90%;
  }
}

.mainContent {
  display: flex;
}

/*  Playlist Page*/
.ulListCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  list-style: none;
}

.container {
  max-width: 1500px;
}

.bottomMedia {
  background: var(--bgContainer);
  height: 100px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mediaButtonsContainer {
  display: flex;
  justify-content: center;
}
.mediaButtons {
  color: var(--textPrimaryColor);
  font-size: 3rem;
  cursor: pointer;
  /* display: inline; */
  /* position: fixed; */
}

.cardContainer {
  position: relative;
  max-height: 550px;
  overflow-y: auto;
  /* background: var(--bgContainer); */
}

.cardContent {
  display: flex;
  background: var(--bgContainer);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* margin-left: auto;
  margin-right: 9rem; */
  width: 90%;
}
.cardText {
  cursor: pointer;
}
.cardContent.playing {
  background: var(--cardOnHover);
  color: blue;
  margin: 0.3rem;
}
.cardContent:hover {
  background: var(--cardOnHover);
}

.player {
}

.youtubePlayer {
  width: 100%;
  height: 100%;
}

@media (max-width: 650px) {
  .mainContent {
    display: flex;
    flex-direction: column-reverse;
  }

  .songTitle {
    font-size: 1rem;
  }
  .cardTitle {
    font-size: .9rem;
  }
  .cardArtist {
    font-size: .7rem;
    font-weight: bold;
  }
}

/*  Playlist Page*/

/*  Layout */

.inputSearch {
  /* font-size: 1.5rem; */
  padding: 0.2rem 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  border-radius: 4px;
}

.submitBtn {
  cursor: pointer;
  padding: 0.2rem 1.1rem;
  border-radius: 4px;
}

iframe {
  width: 490px;
  height: 350px;
}


