@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

@layer components {
  .truncate-unset {
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
  }
}
